__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/
book/*.aux
book/*.log
book/*.toc
book/*.out
book/*.idx
book/*.ilg
book/*.ind
book/*.lof
book/*.lot
book/*.synctex.gz
book/build.log
book/chapters/*.aux
book/frontback/*.aux
_chapbuild/
moderncomms-labs/tests/screens/
